<div class="container">
        <div *ngIf="reviews.length > 0; else UnpublishedElseBlock">
            <div class="row">
                <div class="col-md-4">
                    <span class="library-title">Unpublished Reviews</span>
                </div>
                <div class="col-md-5"></div>
                <div class="col-md-3">
                    <a class="btn view-all-btn" routerLink="/reviews/unpublished/1">View all</a>
                </div>
            </div>
            <div class="row">
                <div *ngFor="let review of reviews; let i = index" class="col-md-3">
                    <a [routerLink]="['/reviews', review.id]">
                        <img alt="book-image"
                             class="rounded profile-booklist-preview-photo"
                             src="https://image.flaticon.com/icons/png/512/130/130304.png"/>
                    </a>
                    <br/>
                    <span>
                    <a [routerLink]="['/reviews', review.id]"
                       class="profile-book-title"><b>
                        {{review.book.title}}
                    </b></a>
                </span><br/>
                    <div>
                        <span class="profile-review-rating">Rating: {{review.rating}}</span>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #UnpublishedElseBlock>
            <span class="empty-text">
                There are no unpublished reviews
            </span>
        </ng-template>
    </div>