<div class="container" id="main">
    <div class="row">
        <div class="col-md-3">
            <a routerLink="/books/{{review.book.id}}">
                <img alt="book image" class="rounded" id="book-title-image" src='http://nzbirdsonline.org.nz/sites/all/files/470105Emperor%20penguin%201.jpg'>
            </a>
        </div>

        <div class="col-md-6" id="book-data-container">

            <a routerLink="/books/{{review.book.id}}" id="book-title">{{review.book.title}}</a>
            <br />

            <div class="header" *ngFor="let author of review.book.authors">
                <a class="author-genre-link" routerLink="/books/byauthor/{{author.id}}/1">{{author.name}} </a>
            </div>
            <br />

            <div class="header" *ngFor="let genre of review.book.genres">
                <a class="author-genre-link" routerLink="/books/bygenre/{{genre.id}}/1">{{genre.name}} </a>
            </div>
            <br />
            <p class="header">{{review.book.release_date|date}}</p>
        </div>
    </div>
</div>


<h2>Rating : {{review.rating}}</h2>
<hr>
<h1>{{review.description}}</h1>
<div *ngIf="isReviewModerator() && !review.published">
    <div class="btn btn-info" (click)="onPublish()">
        Publish review
    </div>
</div>