<div class="container" id="main">
  <div class="row">
    <div class="col-md-3">
      <a href="#">
      <img class="rounded" id="book-title-image"
        src='http://nzbirdsonline.org.nz/sites/all/files/470105Emperor%20penguin%201.jpg'>
      </a>
    </div>

    <div class="col-md-6" id="book-data-container">
      <a href="#" id="book-title">Harry Potter and the Philosopher`s stone</a>
      <p class="header">J. K. Rowling</p>
      <p class="header">Fantasy</p>
      <p class="header">Jun 26, 1997</p>
    </div>

    <div class="col-md-3">
        <a href="#" class="btn btn-info" role="button" id="want-read-button">Want to read</a>
    </div>
  </div>
</div>