<div class="container" id="moderators-list-page">
    <div class="row">
        <div class="col-md-12">
            <ul>
                <span id="moderators-list-title">Moderators list:</span>
                <li *ngFor="let user of users">
                    <span id="moderators-list-item">
                        <a href="/users/{{user.username}}">@{{user.username}},</a>
                        {{user.firstName}} {{user.lastName}}, {{user.email}}
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
