<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                            <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="file"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        Anna Brown
                                    </h5>
                                    <h6>
                                        Super Admin
                                    </h6>
                                    <p class="profile-permission">PERMISSIONS : <span>announcement, book overview, review</span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Admins</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Moderators</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work tab-pane fade show active">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>UserName</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>Anna Brown</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Email</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>anna_brown@gmail.com</p>
                                        </div>
                                    </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <table class="table table-hover">
                               <thead>
                                    <tr>
                                        <th>User Name</th>
                                        <th>Email</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <ul>
                                        <li *ngFor="let admin of adminList">
                                    <tr>
                                        <td>{{admin.username}}</td>
                                        <td>{{admin.email}}</td>
                                    </tr>
                                </li>
                                </ul>
                                    
                                </tbody>
                            </table>
                            <button routerLink="/newadmin" type="button" class="btn btn-primary btn-block">Add new admin</button>
                        </div>
                    </div>
                </div>
            </form>           
        </div>