<div class="container-fluid py-3">
  <div class="row">
      <div class="col-md-6 mx-auto">
              <div class="card card-body" >
                  <h3 class="text-center mb-4 formText">Sign Up</h3>
                  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                      <div class="form-group">
                          <label class="formText" for="user_name">Username</label>
                          <input [ngClass]="{ 'is-invalid': submitted && getFormControls.user_name.errors }"
                                 class="form-control" formControlName="user_name" id="user_name" type="text"/>
                          <div *ngIf="submitted && getFormControls.user_name.errors" class="invalid-feedback">
                              <div *ngIf="getFormControls.user_name.errors.required">Username is required</div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="formText" for="firstName">First Name</label>
                          <input [ngClass]="{ 'is-invalid': submitted && getFormControls.firstName.errors }"
                                 class="form-control" formControlName="firstName" id="firstName" type="text"/>
                          <div *ngIf="submitted && getFormControls.firstName.errors" class="invalid-feedback">
                              <div *ngIf="getFormControls.firstName.errors.required">First Name is required</div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="formText" for="lastName">Last Name</label>
                          <input [ngClass]="{ 'is-invalid': submitted && getFormControls.lastName.errors }"
                                 class="form-control" formControlName="lastName" id="lastName" type="text"/>
                          <div *ngIf="submitted && getFormControls.lastName.errors" class="invalid-feedback">
                              <div *ngIf="getFormControls.lastName.errors.required">Last Name is required</div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="formText" for="email">Email</label>
                          <input [ngClass]="{ 'is-invalid': submitted && getFormControls.email.errors }"
                                 class="form-control" formControlName="email" id="email" type="email"/>
                          <div *ngIf="submitted && getFormControls.email.errors" class="invalid-feedback">
                              <div *ngIf="getFormControls.email.errors.required">Username is required</div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="formText" for="password">Password</label>
                          <input [ngClass]="{ 'is-invalid': submitted && getFormControls.password.errors }"
                                 class="form-control" formControlName="password" id="password" type="password"/>
                          <div *ngIf="submitted && getFormControls.password.errors" class="invalid-feedback">
                              <div *ngIf="getFormControls.password.errors.required">Password is required</div>
                              <div *ngIf="getFormControls.password.errors.minlength">Password must be at least 6
                                  characters
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="formText" for="confirm_password">Confirm password</label>
                          <input [ngClass]="{ 'is-invalid': submitted && getFormControls.confirm_password.errors }"
                                 class="form-control" formControlName="confirm_password" id="confirm_password"
                                 type="password"/>
                          <div *ngIf="submitted && getFormControls.confirm_password.errors" class="invalid-feedback">
                              <div *ngIf="getFormControls.confirm_password.errors.required">Passwords do not match</div>
                          </div>
                      </div>
                      <div class="form-group">
                          <button [disabled]="loading" class="btn btn-primary formBtn">Register</button>
                          <img *ngIf="loading" atlt=""
                               src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                          <a [routerLink]="['/login']" class="btn formBtn" id="cancelButton">Cancel</a>
                      </div>
                  </form>
              </div>
      </div>
  </div>
</div>