.card {
    background-color: #36393E;
}

input.ng-valid[required], input.ng-valid.required {
    border-left: 5px solid #42A948; /* green */
}

input.ng-touched.ng-invalid {
    border-left: 5px solid red;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 5px;
}

.formText {
    color: white;
}

.formBtn {
    background-color: transparent;
    border: .1rem solid white;
    color: white !important;
}

.formBtn:hover {
    background-color: white;
    border: .1rem solid #36393E;
    color: #36393E;
}

a#cancelButton {
    float: right;
}