<div class="container">
    <div class="row">
        <div class="col-lg-3 text-center">
            <div class="btn-group">
                <div
                        class="btn btn-secondary"
                        (click)="decrement()">
                    < Prev
                </div>
                <div
                        class="btn btn-outline-secondary"
                        (click)="today()">
                    Today
                </div>
                <div
                        class="btn btn-secondary"
                        (click)="increment()">
                    Next >
                </div>
            </div>
        </div>
        <div class="col-lg-9 text-center calendar-title">
            <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <div class="announcement-border">
                <p *ngIf="events.length === 0"><em>No events added</em></p>
                <ul>
                    <li *ngFor="let event of events">
                        <a class="announcement-link" routerLink="/announcements/{{event.id}}">
                            {{ event.title }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9 calendar-body">
            <div [ngSwitch]="view">
                <mwl-calendar-month-view
                        *ngSwitchCase="CalendarView.Month"
                        [viewDate]="viewDate"
                        [events]="events"
                        [activeDayIsOpen]="activeDayIsOpen"
                        (dayClicked)="dayClicked($event.day)"
                        (eventClicked)="eventClicked($event.event)">
                </mwl-calendar-month-view>
                <mwl-calendar-week-view
                        *ngSwitchCase="CalendarView.Week"
                        [viewDate]="viewDate"
                        [events]="events">
                </mwl-calendar-week-view>
                <mwl-calendar-day-view
                        *ngSwitchCase="CalendarView.Day"
                        [viewDate]="viewDate"
                        [events]="events">
                </mwl-calendar-day-view>
            </div>
        </div>
    </div>
</div>
