<nav class="navbar navbar-expand-sm fixed-top">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Logo</a>


  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink="/books/range/1">Books</a>
    </li>
    <li class="nav-item">
      <div ngbDropdown class="d-inline-block">
        <button class="btn" id="dropdown-genres" ngbDropdownToggle>Genres</button>
        <div ngbDropdownMenu aria-labelledby="dropdown-genres">
          <div *ngFor="let genre of genres">
              <a ngbDropdownItem href="/books/bygenre/{{genre.id}}/1">{{genre.name}}</a>
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Authors</a>
    </li>


    <form class="form-inline" action="getByName($event)">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" #box (keyup.enter)="onEnter(box.value)">
    </form>

  </ul>
</nav>