<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Logo</a>
  
    <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" href="#">Books</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Genres</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Historical novel</a>
            <a class="dropdown-item" href="#">Detective story</a>
            <a class="dropdown-item" href="#">Drama</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Authors</a>
        </li>

        <form class="form-inline" action="/action_page.php">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
        
      </ul>
  </nav>