img#book-title-image {
    width: 100%;
  }
  
  a.btn {
    display: block;
    margin-bottom: 5%;
    background-color: #007BFF;
    border-color: #28a745;
    font-size: x-large
  }
  
  a.btn:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }
  
  a#book-title {
    margin-bottom: 5%;
    text-decoration: none;
    color: black;
    font-size: xx-large;
  }
  
  p.header {
    margin-top: 1%;
    font-size: large;
  }
  
  div#main {
    padding: 2%;
    margin-bottom: 2%;
    border: .15vw ridge #68C5FA;
    border-radius: 10px;
  }
  
  div.header {
    display: inline;
  }
  
  a.author-genre-link {
    text-decoration: none;
    font-size: large;
    color: black;
  }
  
  a.author-genre-link:hover {
    color: #218838;
  }
  
  @media screen and (max-width: 767px) {
    div#main {
      border: none;
    }
  }
  .card {
    background-color: #36393E;
}

input.ng-valid[required], input.ng-valid.required {
    border-left: .25rem solid #42A948; /* green */
}

input.ng-touched.ng-invalid {
    border-left: .25rem solid red;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 5px;
}

.formText {
    color: white;
}

.formBtn {
    background-color: transparent;
    border: .1rem solid white;
    color: white;
}

.formBtn:hover {
    background-color: white;
    border: .1rem solid #36393E;
    color: #36393E;
}

a#cancelButton {
    float: right;
}

label.custom-label {
    color: white;
    font-size: 1.1rem;
}

.custom-control-label:before {
    background-color: white;
    border: .1rem solid #36393E;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #36393E;
}

.custom-control-input:active ~ .custom-control-label::before {
    background-color: green;
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 .1rem #fff, 0 0 0 .2rem #36393E
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: white;
}