img#book-title-image {
    width: 100%;
  }
  
  a.btn {
    display: block;
    margin-bottom: 5%;
    background-color: #007BFF;
    border-color: #28a745;
    font-size: x-large
  }
  
  a.btn:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }
  
  a#book-title {
    margin-bottom: 5%;
    text-decoration: none;
    color: black;
    font-size: xx-large;
  }
  
  p.header {
    margin-top: 1%;
    font-size: large;
  }
  
  div#main {
    padding: 2%;
    margin-bottom: 2%;
    border: .15vw ridge #68C5FA;
    border-radius: 10px;
  }
  
  div.header {
    display: inline;
  }
  
  a.author-genre-link {
    text-decoration: none;
    font-size: large;
    color: black;
  }
  
  a.author-genre-link:hover {
    color: #218838;
  }
  
  @media screen and (max-width: 767px) {
    div#main {
      border: none;
    }
  }