<div class="container" id="main">
    <div class="row">
        <div class="col-md-3">
            <a routerLink="/books/{{book.id}}">
                <img class="rounded" id="book-title-image" src='http://nzbirdsonline.org.nz/sites/all/files/470105Emperor%20penguin%201.jpg'>
            </a>
        </div>

        <div class="col-md-6" id="book-data-container">

            <a routerLink="/books/{{book.id}}" id="book-title">{{book.title}}</a>
            <br />

            <div class="header" *ngFor="let author of book.authors">
                <a class="author-genre-link" routerLink="/books/byauthor/{{author.id}}/1">{{author.name}} </a>
            </div>
            <br />

            <div class="header" *ngFor="let genre of book.genres">
                <a class="author-genre-link" routerLink="/books/bygenre/{{genre.id}}/1">{{genre.name}} </a>
            </div>
            <br />
            <p class="header">{{book.release_date|date}}</p>
        </div>
    </div>
</div>

<div class="container-fluid py-3">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card card-body">
                <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="rating" class="formText">Rating</label> 
                        <input id="rating" type="number" min="0" max="100" maxlength="3" formControlName="rating" class="form-control" />
                        <div *ngIf="reviewForm.controls.rating.touched && reviewForm.controls.rating.invalid" style="color: #dc3545">
                            Rating should be a number between 1 and 100
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="formText">Description</label>
                        <input id="description" type="text" class="form-control" formControlName="description" />
                        <div *ngIf="reviewForm.controls.description.touched && reviewForm.controls.description.invalid" style="color: #dc3545">
                                Description required
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary formBtn">Create review</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>