<div class="container-fluid py-3">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card card-body">
        <h1 class="formText">Book creation Form</h1>
        <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="title" class="formText">Title</label>
            <input class="form-control" id="title" type="text">
          </div>

          <div class="form-group">
            <label for="description" class="formText">Description</label>
            <input class="form-control" id="description" type="text">
          </div>

          <div class="form-group">
            <label for="release_date" class="formText">Release Date</label>
            <input class="form-control" id="release_date" type="date">
          </div>

          <div class="form-group">
            <label for="book_language" class="formText">Book Language</label>
            <input class="form-control" id="book_language" maxlength="2" type="text">
          </div>

          <div formArrayName="genres">
            <h3 class="formText">Genres</h3>
            <div class="btn btn-info formBtn" (click)="addGenre()">Add Genres</div>
            <div *ngFor="let genre of genres.controls; let genreIndex=index;" class="add-book-genre-author-div">
              <span class="formText add-book-author-genre">Genre: </span>
                <input type="text" [formControlName]="genreIndex">
              <div (click)="removeGenre(genreIndex)" class="btn btn-info formBtn add-book-genre-author-btn">Remove
                Genre
              </div>
            </div>
          </div>
          <br>
          <div formArrayName="authors">
            <h3 class="formText">Authors</h3>
            <div class="btn btn-info formBtn" (click)="addAuthor()">Add Author</div>
            <div *ngFor="let author of authors.controls; let authorIndex=index" class="add-book-genre-author-div">
              <span class="formText add-book-author-genre">Author:</span>
                <input type="text" [formControlName]="authorIndex">
              <div (click)="removeAuthor(authorIndex)" class="btn btn-info formBtn add-book-genre-author-btn">Remove
                Author
              </div>
            </div>
          </div>
          <br>
          <button type="submit" class="btn btn-primary formBtn">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>