<div class="container">
    <div class="row" id="buttons-box">
        <div class="col-md-3"></div>
        <div class="col-md-6 d-flex justify-content-center">
            <a class="btn btn-info" href="/login" id="login-button" role="button">
                Login
            </a>
            <span id="text-between-buttons">or</span>
            <a class="btn btn-info" href="/signup" id="register-button" role="button">
                Register
            </a>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <img alt="" class="rounded-circle" id="navbar-profile-photo"
                 src="https://data.whicdn.com/images/51457869/original.png">
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>