img#book-title-image {
  width: 100%;
}

.btn {
  display: block;
  margin-bottom: 5%;
  background-color: #343a40;
  border-color: #28a745;
  font-size:x-large
}

.btn:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

h1#book-title {
  margin-bottom: 5%;
}

p.header {
  margin-top: 1%;
  font-size:x-large;
}

div.header {
  display: inline;
}

div#description-container {
  margin-top: 5%;
  padding: 2%;
  border: .15vw ridge #343a40;
  border-radius: 10px;
}

a.author-genre-link {
  text-decoration: none;
  font-size: x-large;
  color: black; 
}

a.author-genre-link:hover {
  color: #218838; 
}

.review-previews-div{
  display: flex;
  flex-direction: row;

  border: .15vw ridge #343a40;
  border-radius: 10px;
    margin-bottom: 2rem;
}

@media screen and (max-width: 600px) {
  div#description-container {
    border: none;
  }
}

img.profile-booklist-preview-photo {
    width: 100%;
}

span.library-title {
    font-size: 2em;
}

a.view-all-btn {
    font-size: 2em;
    text-decoration: none;
    float: right;
    color: white;
    display: block;
    margin-bottom: 5%;
    background-color: #343a40;
    border-color: #28a745;
}

a.view-all-btn:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

a.profile-book-title {
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}

span.profile-book-author {
    font-size: 1.2em;
}

span.empty-text {
    font-size: 2em;
}