img#book-title-image {
  width: 100%;
}

a.btn {
  display: block;
  margin-bottom: 5%;
  background-color: #007BFF;
  border-color: #28a745;
  font-size:x-large
}

a.btn:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

h1#book-title {
  margin-bottom: 5%;
}

p.header {
  margin-top: 1%;
  font-size:x-large;
}

#description-container {
  margin-top: 5%;
  padding: 2%;
  border: .1vw solid #007BFF;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
}