<div class="container-fluid py-3">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card card-body">
                <h3 class="text-center mb-4 formText">Add moderator</h3>
                <form (ngSubmit)="onSubmit()" [formGroup]="addModeratorForm">
                    <div class="form-group">
                        <label class="formText" for="username">Username</label>
                        <input [ngClass]="{ 'is-invalid': getFormValue.username.touched && getFormValue.username.invalid }"
                               class="form-control" formControlName="username" id="username" type="text"/>
                        <div *ngIf="getFormValue.username.touched && getFormValue.username.invalid" class="invalid-feedback">
                            <div *ngIf="getFormValue.username.errors.required">Username is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="formText" for="email">Email</label>
                        <input [ngClass]="{ 'is-invalid': getFormValue.email.touched && getFormValue.email.invalid }" class="form-control"
                               formControlName="email" id="email" type="email"/>
                        <div *ngIf="getFormValue.email.touched && getFormValue.email.invalid" class="invalid-feedback">
                            <div *ngIf="getFormValue.email.errors.required">Email is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="formText" for="password">Password</label>
                        <input [ngClass]="{ 'is-invalid': getFormValue.password.touched && getFormValue.password.invalid }"
                               class="form-control" formControlName="password" id="password" type="password"/>
                        <div *ngIf="getFormValue.password.touched && getFormValue.password.invalid" class="invalid-feedback">
                            <div>Password must be at least 6 characters long and contain at least one uppercase, lowercase characters and a number</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div *ngFor="let right of addModeratorForm.controls.roles.controls; let i = index">
                            <div class="custom-control form-control-lg custom-checkbox">
                                <input [formControl]="right" class="custom-control-input" id="checkbox{{i}}"
                                       type="checkbox">
                                <label [attr.for]="'checkbox' + i"
                                       class="custom-control-label custom-label">{{moderatorRoles[i].name}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary formBtn">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Submit
                        </button>
                        <a [routerLink]="['/users', user.username]" class="btn formBtn" id="cancelButton">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>