img#profile-photo {
    margin-bottom: 10%;
}

span#profile-name {
    font-size: 2rem;
}

span#profile-username {
    font-size: 2rem;
}

span#profile-email {
    font-size: 2rem;
}

div#profile-user-description {
    margin-top: 3%;
}

.btn {
    display: block;
    margin-bottom: 5%;
    background-color: #343a40;
    border-color: #28a745;
    font-size:x-large
}

.btn:hover {
    background-color: #218838;
    border-color: #1e7e34;
}