<div class="container" id="user-page-main">
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6" id="profile-user-description">
            <span id="profile-name">{{user.firstName}} {{user.lastName}}</span><br/>
            <span id="profile-username">Username: {{user.username}}</span><br/>
            <span id="profile-email">Email: {{user.email}}</span></div>
        <div class="col-lg-3">
            <div *ngIf="storageUsername === user.username ; else addFriend">
                <div (click)="logout()" class="btn btn-info"
                     role="button">Log out
                </div>
                <a class="btn btn-info" role="button"
                   routerLink="/users/editProfile/{{user.username}}">Edit profile
                </a>
            </div>
            <ng-template #addFriend>
                <div class="btn btn-info"
                     role="button">Add to friends
                </div>
            </ng-template>
        </div>
    </div>
</div>